# Build output
/target/
crates/wallet-abi-bindings/android_bindings/build

# IDE/editors (optional but common minimal)
**/.DS_Store
.idea/
.vscode/
.cache
.env
.gradle

# Debugging data
logs.md
tmp_vendor

# JS/TS package artifacts
node_modules/
**/dist/

# Other
# wallet-abi Android bindings generated artifacts
crates/wallet-abi-bindings/android_bindings/lib/build/
crates/wallet-abi-bindings/android_bindings/lib/src/androidMain/
crates/wallet-abi-bindings/android_bindings/lib/src/commonMain/
crates/wallet-abi-bindings/android_bindings/lib/src/jvmMain/
crates/wallet-abi-bindings/android_bindings/lib/src/nativeMain/
crates/wallet-abi-bindings/android_bindings/lib/src/libs/
crates/wallet-abi-bindings/android_bindings/lib/src/nativeInterop/cinterop/headers/
